/* 
.pdt {
    padding-top: 70px;
} */

#body {
    text-align: -webkit-center;
    width: 100%;
}


/* dịch vụ & sản phẩm */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: inline-block;
}



.header {
    height: 400px;
    background: url(./img/23322.png);
    color: black;
    width: 100%;
}

.header h1 {
    padding: 60px 0;
    color: #1FD5FD;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 1px;
}

.header p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    /* height: 100px; */
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
    padding: 30px 0;
}


.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo ul li a {
    text-decoration: none;
    color: #233145;

}

.logo ul li i {
    width: 26.051px;
    height: 25.922px;
    flex-shrink: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

.intro {
    padding: 54px 0;
}


.intro p {
    padding: 0 45px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.distance {
    width: 40px;
    height: 3px;
    background: #FF6017;
    display: inline-block;
    margin-right: -36px;
}


main {
    width: 1172px;
    max-width: 100%;
    padding: 66px 0;
}



.service {
    background: url(./img/Rectangle\ 3566.png)lightgray 50% / cover no-repeat;
    display: flex;
}

.product :hover {
    opacity: 0.7;
    cursor: pointer;
}

.product h2 {
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    grid-auto-rows: minmax(272px, auto);
    column-gap: 37px;
    row-gap: 34px;
}

.product img {
    /* margin-left: -23px;
    margin-top: -17px; */
    width: 100%;
}


.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
}

.contact {
    height: 259px;
    width: 100%;
}

.footer .ipi img {
    width: 168.315px;
    height: 107px;
    flex-shrink: 0;
    float: right;
    margin: 74px 60px 78px 0;
}

.left {
    text-align: left;
}

.letter {
    width: 115.906px;
}

.letter1 {
    width: 101.795px;
    height: 31px;
    flex-shrink: 0;
}

.letter2 {
    width: 228.787px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 9px;
}

.letter3 {
    width: 137.071px;
}

.letter4 {
    width: 163.276px;
}

.letter5 {
    width: 126.992px;
    height: 18px;
    flex-shrink: 0;
}

.letter6 {
    width: 228.787px;
    height: 31px;
    flex-shrink: 0;
    margin-top: 11px;
}



@media (max-width:1230px) {
    .product {
        width: 770px;
        grid-template-columns: repeat(2, 365px);
    }

    .none {
        display: none;
    }

    .bl {
        display: inline-block;
        width: 30%;
    }

    .size ul {
        float: left;
        width: 94%;
        /* text-align: justify; */
    }

    #mobile-menu {
        display: block;
        float: right;
        width: 20px;
    }

}

@media (max-width:991px) {
    .none1 {
        display: none;
    }
}

@media (max-width:780px) {
    .product {
        width: 365px;
        grid-template-columns: repeat(1, 365px);
    }


}

@media (max-width:767px) {
    .none2 {
        display: none;
    }
}





/* tl */
@media(min-width:741px) and (max-width:63.9375em) {
    .header h1 {
        padding: 45px 0;
        color: #1FD5FD;
        text-align: center;
        text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
        font-family: Open Sans;
        font-size: 70px;
        font-style: normal;
        font-weight: 800;
        line-height: 22px;
        letter-spacing: 1px;
    }

}

/* đt */
@media (max-width: 46.1875em) {
    .header h1 {
        padding: 25px 0;
        color: #1FD5FD;
        text-align: center;
        text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
        font-family: Open Sans;
        font-size: 51px;
        font-style: normal;
        font-weight: 800;
        line-height: 51px;
        letter-spacing: 1px;
    }



    .header p {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 15px;
    }

    .footer {
        height: 370px;
    }

    .product img {
        width: 98%;
    }

    .logo ul li {
        padding-left: 24px;
    }
}

@media (max-width: 440px) {
    .bl {
        width: 45%;
    }

    .logo ul li {
        padding-left: 0px;
    }
}