.hog {
    display: none;
}

.left1 {
    text-align: left;
}

.br {
    padding-top: 54px;
}

.open {
    display: inline-block;
}

.off {
    display: none;
}


.hr {
    width: 25px;
    height: 3px;
    flex-shrink: 0;
    background: #233145;
    display: inline-block;
}

.hr1 {
    width: 139px;
    height: 3px;
    flex-shrink: 0;
    background: #007BC5;
    display: inline-block;
}

.hr2 {
    width: 77px;
    height: 3px;
    flex-shrink: 0;
    background: #007BC5;
    display: inline-block;
}

.hr3 {
    width: 51px;
    height: 3px;
    flex-shrink: 0;
    background: #007BC5;
    display: inline-block;
}

.hr4 {
    width: 51px;
    height: 4px;
    flex-shrink: 0;
    background: rgb(255, 94, 20);
    display: inline-block;
    margin: 15px 0;
}

.flex {
    display: flex;
}

.flex i {
    color: #FCFCFC;
}

.margin {
    margin-top: 1px;
    margin-right: 4px;
}

.margin1 {
    margin: 13px 4px 0 0;
}

.lines1 {
    background-color: red;
    width: 54.425px;
    height: 1px;
    float: left;
}

.lines3 {
    background-color: blue;
    width: 30px;
    height: 2px;
    float: left;
    margin-top: 12px;
    margin-right: 8px;
}

.lines2 {
    width: 122.961px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #EC1C2C;
}

.color {
    color: #97A4C2;
    font-family: 'Roboto', sans-serif;
}

.color2 {
    color: #233145;
    font-family: 'Roboto', sans-serif;
}

.color3 {
    color: #FCFCFC;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.color4 {
    color: #FCFCFC;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.color5 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    /* font-size: 12px; */
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.color6 {
    color: #233145;
    font-family: 'Roboto', sans-serif;
    /* font-size: 12px; */
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.color7 {
    color: var(--colors-white, #FCFCFC);
    font-family: Open Sans;
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 222.75%;
    /* 22.275px */
    letter-spacing: 1px;
}

.color9 {
    color: #007BC2;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.color10 {
    color: #35BECB;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.color11 {
    color: #EC1C2C;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.size {
    overflow: hidden;
    height: 48px;
}


.pdt {
    padding-top: 70px;
}

.letter {
    width: 115.906px;
}

.letter1 {
    /* width: 101.795px; */
    height: 31px;
    flex-shrink: 0;
}

.letter2 {
    width: 228.787px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 9px;
}

.letter3 {
    width: 137.071px;
}

.letter4 {
    width: 163.276px;
}

.letter5 {
    width: 126.992px;
    height: 18px;
    flex-shrink: 0;
}

.letter6 {
    width: 228.787px;
    height: 31px;
    flex-shrink: 0;
    margin-top: 11px;
}

/* .footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
} */

.contact {
    height: 259px;
    width: 100%;
}

.footer .ipi img {
    width: 168.315px;
    height: 107px;
    flex-shrink: 0;
    float: right;
    margin: 74px 60px 78px 0;
}

.left {
    text-align: left;
}

.lines4 {
    margin-top: 76px;
    width: 360px;
    height: 13px;
    flex-shrink: 0;
    border-radius: 0px 0px 7px 7px;
    background: #007BC2;
}

.lines5 {
    margin-top: 36px;
    width: 360px;
    height: 13px;
    border-radius: 0px 0px 7px 7px;
    background: #35BECB;
}

.lines7 {
    margin-left: 10px;
    width: 40px;
    height: 3px;
    background: #EA4A56;
}

.lines6 {
    width: 360px;
    height: 13px;
    border-radius: 0px 0px 7px 7px;
    background: #EA4A56;
}

@media(max-width:600px) {
    .pdt {
        padding-top: 20px;
    }
}