* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 400px;
    background: url(/img/23322.png);
    color: black;
    width: 100%;
}

.content {
    padding: 10px;
    /* display: inline-block; */
}

.content img {
    width: 90%;
    /* padding: 15px 0; */
}

.content h2 {
    text-transform: capitalize;
    color: black;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 0;
}

.content p {
    margin-bottom: 20px;
    color: dimgrey;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    padding: 10px 0;
}

.content h3 {
    margin-bottom: 20px;
    color: rgb(255, 94, 20);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    cursor: pointer;
    /* margin: 15px 0; */
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

.fa-arrow-right {
    color: red;
}

.Categories h2 {
    padding-top: 25px;
}

.Categories ul li i {
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}

.Card ul {
    height: 70px;
    padding: 30px 0 0 20px;
}

.Card ul li {
    width: 30%;
    float: left;
    margin: 0 5px;
}

.SocialLinks {
    /* height: 100px; */
}

.SocialLinks .fa-brands {
    margin: 22px 10px;
    cursor: pointer;
}

.fa-square-facebook {
    color: rgb(59, 89, 153);
}

.fa-square-twitter {
    color: rgb(85, 172, 238);
}

.fa-square-instagram {
    color: rgb(228, 64, 95);
}

.fa-pinterest {
    color: red;
}

.fa-invision {
    color: rgb(0, 119, 181);
}

.header h1 {
    padding: 60px;
    color: #1FD5FD;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 1px;
}

.header p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
    padding: 30px 0;
}


.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo ul li a {
    text-decoration: none;
    color: #233145;

}

.logo ul li i {
    width: 26.051px;
    height: 25.922px;
    flex-shrink: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
}

@media (max-width:1230px) {
    .none {
        display: none;
    }

    .bl {
        display: inline-block;
        width: 25%;
    }

    .size ul {
        float: left;
        width: 94%;
    }

    #mobile-menu {
        display: block;
        float: right;
        width: 20px;
    }

}

@media (max-width:991px) {
    .none1 {
        display: none;
    }

    .col-sm-11 {
        margin-bottom: 100px;
    }
}

@media (max-width: 46.1875em) {
    .none2 {
        display: none;
    }

    .content img {
        width: 100%;
    }

    .footer {
        height: 370px;
    }

    .bl {
        width: 46%;
        padding-left: 24px;
    }

    .center {
        padding-left: 40px;
    }


    .header h1 {
        font-size: 55px;
    }
}

@media (max-width: 395px) {
    .bl {
        padding-left: 0px;
    }
}