* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 400px;
    background: url(/img/23322.png);
    color: black;
    width: 100%;
    margin-bottom: 70px;
    outline: none;
}

#body {
    text-align: -webkit-center;
    width: 100%;
}

.main {
    width: 80%;
    margin-bottom: 50px;
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

.information {
    padding-left: 10%;
    text-align: left;
}

.information h2 {
    text-transform: uppercase;
    font-family: 'Work Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.information p {
    color: rgb(103, 122, 157);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 40px;
}

.information ul li {
    float: left;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    color: rgb(103, 122, 157);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.information .li {
    width: 100%;
    margin-bottom: 150px;
}

.information button {
    background: rgb(255, 94, 20);
    color: white;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
}

.contact3 {
    /* margin: 0 20px; */
    border: 4px solid rgb(255, 94, 20);
    padding: 40px;
    height: 70%;
}

.contact3 .padding1 {
    padding-left: 20px;
}

.contact3 img {
    width: 50px;
    height: 50px;
    float: left;
}

.contact3 p,
.contact3 h2 {
    padding-left: 70px;
}

.header h1 {
    padding: 60px;
    color: #1FD5FD;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 1px;
}

.header p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
    padding: 30px 0;
}


.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo ul li a {
    text-decoration: none;
    color: #233145;

}

.logo ul li i {
    width: 26.051px;
    height: 25.922px;
    flex-shrink: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
}

@media (max-width:1230px) {
    .none {
        display: none;
    }

    .bl {
        display: inline-block;
        width: 30%;
    }

    .size ul {
        float: left;
        width: 94%;
    }

    #mobile-menu {
        display: block;
        float: right;
        width: 20px;
    }

}

@media (max-width:991px) {
    .none1 {
        display: none;
    }

    .col-sm-11 {
        margin-bottom: 100px;
    }
}

@media (max-width: 46.1875em) {
    .none2 {
        display: none;
    }

    .footer {
        height: 370px;
    }

    .bl {
        width: 46%;
        padding-left: 24px;
    }

    .center {
        padding-left: 40px;
    }

    .header h1 {
        font-size: 55px;
    }

    .information {
        padding-left: 0px;
    }
}