.br1 {
    margin-top: 38.62px;
}

.pdt1 {
    padding-top: 40px;
}

.int {
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 120px;
}

.none2 img {
    width: 80%;
}

.logo {
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
    /* padding: 30px 0; */
    padding-top: 30px;
    padding-bottom: 30px;
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo ul li a {
    text-decoration: none;
    color: #233145;

}

.logo ul li i {
    width: 26.051px;
    height: 25.922px;
    flex-shrink: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

main {
    display: inline-block;
}

#body {
    text-align: -webkit-center;
    width: 100%;
}



.information {
    margin-top: -760px;
}

.tc h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.tc h1 {
    padding-left: 40px;
    text-align: start;
    color: #1FD5FD;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    /* 31.429% */
    letter-spacing: 1px;
    padding-top: 252px;
    padding-bottom: 40px;
    margin-bottom: 13px;
    /* width: 952px; */
    height: 92px;
}

.information .one {
    padding-left: 40px;
    text-align: start;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 64px;
}

.contai {
    width: 319px;
    height: 362px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    background: #E1EEF9;
}



.contai img {
    margin-top: 48px;
    margin-bottom: 36px;
    width: 51.999px;
    height: 60px;
    flex-shrink: 0;
}

.contai p {
    display: flex;
    /* width: 290px; */
    height: 166px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #343A40;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    text-transform: uppercase;
}

.contai h2 {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #007BC2;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contai1 h2 {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contai2 h2 {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #EC1C2C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contai1 {
    width: 319px;
    height: 362px;
    flex-shrink: 0;
    background: url(/img/anhcode.jpg) no-repeat;
    background-size: cover;
}

.contai1 img {
    margin-top: 45.38px;
    margin-bottom: 39.62px;
    width: 59px;
    height: 59px;
    flex-shrink: 0;
}

.contai1 p {
    display: flex;
    /* width: 288px; */
    height: 166px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    text-transform: uppercase;

}

.contai2 {
    width: 319px;
    height: 362px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    background: #E1EEF9;
}

.contai2 p {
    display: flex;
    /* width: 292px; */
    height: 166px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #343A40;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    text-transform: uppercase;
}

.contai2 img {
    margin-top: 45.38px;
    margin-bottom: 38.62px;
    width: 51.999px;
    height: 60px;
    flex-shrink: 0;
}

.main {
    width: 100%;
}

.background {
    width: 100%;
    height: 760px;
    flex-shrink: 0;
    background: url(/img/23322.png) no-repeat;

}

#body .intro {
    display: block;
}

.intro {
    width: 100%;
    height: 230px;
    flex-shrink: 0;
    background: #233145;
}

.intro .container .row {
    height: 230px;
}

.header1 {
    text-align: center;
    margin-bottom: 54.8px;
}

.love h3 {
    text-transform: uppercase;
    color: red;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.love h1 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* margin-bottom: 25px; */
}

.pl {
    color: #465059;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
    width: 100%;
    max-width: 555px;
}

.love ul {
    padding: 0;
    width: 100%;
    max-width: 555px;
}

.love ul li {
    width: 50%;
    float: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.love ul li i {
    color: blue;
    margin-right: 10px;
}

.lov {
    text-align: left;
    padding: 30px;
}

.lov .row {
    padding: 30px;
    padding-left: 65px;
    margin-right: -40px;
}

.lov .row p {
    padding-top: 40px;
}

.love .heo {
    padding-top: 40px;
    text-align: center;
    color: #233145;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 50px;
    width: 100%;
    max-width: 555px;
}

.heoh {
    width: 100%;
    max-width: 555px;
    height: 127.4px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #007bc5;
    text-align: center;
    margin-bottom: 54.8px;
}

.love .heoh ul li {
    width: 32%;
}

.heoh h1 {
    margin-top: 19.2px;
    color: #FFF;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heoh p {
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 28.2px;
}

.img1 {
    width: 70%;
    height: 185px;
    flex-shrink: 0;
}

.lov h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lov h2 {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lov .container {
    /* padding-left: 75px; */
}

/* .project {} */

.project h2 {
    padding: 56px;
    text-transform: capitalize;
}

.product {
    width: 1172px;
    max-width: 100%;
}

.product :hover {
    opacity: 0.7;
    cursor: pointer;
}

.oitroi {
    display: inline-block;
}

.oitroi ul li {
    float: left;
    padding: 0 30px 30px;
    cursor: pointer;
    text-transform: capitalize;
}

.distance {
    background-color: blue;
    width: 30px;
    height: 4px;
    float: left;
    margin-top: 12px;
    margin-right: 8px;
}


.product {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    grid-auto-rows: minmax(272px, auto);
    column-gap: 37px;
    row-gap: 34px;
    margin-bottom: 80.1px;
}

.product img {
    width: 100%;
}

.oit {
    padding-top: 34px;
    height: 241px;
    background: url(/img/image\ 4.png);
}

.oit h2 {
    height: 158px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 49px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.oit span {
    color: #31AEF6;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    /* 120% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.oit h2 p {
    height: 18px;
    flex-shrink: 0;
    color: #FCFCFC;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 2.1px;
    padding-top: 40px;
    margin-bottom: 0px;
}

.imgs img {
    width: 100%;
}

.imgs h2 {
    padding: 5px 0 0;
    margin-bottom: 0px;
    text-align: start;
    flex-shrink: 0;
    color: #0c0a0a;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
}

.imgs {
    margin-bottom: 50px;
    width: 70%;
    padding-top: 50px;
}

.hei img {
    height: 75%;
}

.time {
    text-align: start;
    text-transform: uppercase;
}

.time2 {
    display: inline-block;
    text-align: start;
    text-transform: capitalize;
}

.left {
    text-align: left;
}

.left img,
.color8,
.color7 {
    float: left;
    padding-right: 16px;
}

.left img {
    width: 73px;
    height: 57px;
    flex-shrink: 0;
}

.left .color7 {
    color: var(--colors-white, #FCFCFC);
    font-family: Open Sans;
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 222.75%;
    letter-spacing: 1px;
}

.color8 {
    color: var(--colors-white, #FCFCFC);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 24px */
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.left span {
    color: var(--colors-white, #FCFCFC);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1px;
}

.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
}

.contact {
    height: 259px;
    width: 100%;
}

.footer .ipi img {
    width: 168.315px;
    height: 107px;
    flex-shrink: 0;
    float: right;
    margin: 74px 60px 78px 0;
}

.color7 {
    display: inline-block;
    width: 300px;
}

@media(min-width:741px) and (max-width:1172px) {
    .product {
        width: 770px;
        /* grid-template-columns: repeat(2, 365px); */
        grid-template-columns: repeat(2, 365px);
    }

    .love .heoh ul li {
        width: 33%;
    }

    .tc h1 {
        font-size: 55px;
    }
}




@media (max-width:1230px) {
    .none {
        display: none;
    }

    .bl {
        display: inline-block;
        width: 25%;
    }

    .size ul {
        float: left;
        width: 94%;
    }

    #mobile-menu {
        display: block;
        float: right;
        width: 20px;
    }

}

@media (max-width:991px) {
    .none1 {
        display: none;
    }

    .col-sm-11 {
        margin-bottom: 100px;
    }
}

@media(min-width:740px) and (max-width:993px) {
    .intro {
        height: 306px;
    }
}

@media (min-width: 768px) {
    .footer {
        height: 290px;
    }
}

@media (max-width: 46.1875em) {
    .product {
        width: 365px;
        grid-template-columns: repeat(1, 365px);
    }

    .product img {
        width: 98%;
    }

    .love .heoh ul li {
        width: 32%;
    }

    .heoh h1 {
        font-size: 30px;
    }

    .intro {
        height: 306px;
    }

    .love .heo {
        padding-top: 80px;
    }

    .lov .row {
        padding-left: 0;
    }

    .pdt1 {
        padding-top: 0px;
    }

    .color8 {
        padding-right: 0;
    }

    .img1 {
        width: 100%;
    }

    .tc h1 {
        padding-top: 165px;
        line-height: 55px;
        font-size: 55px;
        margin-bottom: 55px;
    }

    .information .one {
        padding-right: 25px;
    }

    .footer {
        height: 310px;
    }

    .none2 {
        display: none;
    }

    .bl {
        width: 46%;
    }

    .logo ul li {
        padding-left: 24px;
    }
}

@media (max-width:408px) {
    .intro {
        height: 608px;
    }

    .logo ul li {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer {
        height: 370px;
    }
}