* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body {
    text-align: -webkit-center;
    width: 100%;
}

.header {
    height: 400px;
    background: url(/img/23322.png);
    color: black;
    width: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* .introduce {
    margin-top: 50px;
} */



.header h1 {
    padding: 60px;
    color: #1FD5FD;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    /* 31.429% */
    letter-spacing: 1px;
}

.header p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    /* height: 100px; */
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
    padding: 30px 0;
}


.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo ul li a {
    text-decoration: none;
    color: #233145;

}

.logo ul li i {
    width: 26.051px;
    height: 25.922px;
    flex-shrink: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

.vt .img2 {
    margin-right: 95px;
    float: right;
    width: 476px;
    height: 303px;
    flex-shrink: 0;
}

.vt .img1 {
    float: right;
    width: 496px;
    height: 315px;
    margin-top: -165px;
}

/* .vt1 img {
    width: 100%;
    height: 453px;
    flex-shrink: 0;
} */

.vt1 {
    text-align: left;
}

.vt1 h3 {
    color: rgb(255, 107, 39);
    font-family: 'Finlandica', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
}

.vt1 h1 {
    text-transform: capitalize;
    font-family: 'Finlandica', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.vt1 h2 {
    text-transform: capitalize;
    color: #8b8987;
    margin-bottom: 60px;
    margin-top: 70px;
    font-family: 'Finlandica', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.vt1 p {
    color: #8b8987;

}

.vt1 span {
    color: #535151;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
}

.vtv .hr4 {
    float: left;
    margin: 4px 10px 0 0;
}

.vtv h3 {
    text-transform: uppercase;

}



.product img {
    margin-bottom: 35.65px;
}

.product p {
    color: #151A6A;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin-top: 17px;
}

.mission p {
    text-align: justify;
    padding-left: 25px;
}

.product {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: minmax(272px, auto);
    column-gap: 37px;
    row-gap: 34px;
    margin-bottom: 110px;
    margin-top: 120px;
}

.product {
    width: 1157px;
    max-width: 100%;
}

.product :hover {
    opacity: 0.7;
    cursor: pointer;
}

.product img {
    width: 99.173px;
    height: 100px;
}

.img3 {
    width: 100%;
    height: 370px;

}

.team h3 {
    color: rgb(255, 107, 39);
    font-family: 'Finlandica', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.team h1 {
    text-transform: capitalize;
}

.team p {
    margin-top: 30px;
    margin-bottom: 60px;
}

.intro {
    margin-top: 117px;
    width: 100%;
    height: 230px;
    flex-shrink: 0;
    background-color: #233145;
    background: url(/img/experience-bg\ 4.png), #233145 100% / cover no-repeat;
    mix-blend-mode: multiply;

}

/* mobi */
#mobile-menu {
    display: none;
    cursor: pointer;
}


.intro .container .row {
    height: 230px;
}

.member {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 275px);
    column-gap: 23px;
    margin-bottom: 46.7px;
    width: 1170px;
    max-width: 100%;
}

.member h3 {
    color: #1F272A;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 100% */
    text-transform: capitalize;
    margin-top: 19.49px;
}

.member p {
    color: rgba(31, 39, 42, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    text-transform: capitalize;
}

.img4 {
    cursor: pointer;
    padding-right: 20px;
}

.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;
}

@media(max-width:1230px) {
    .none {
        display: none;
    }

    .bl {
        display: inline-block;
        width: 25%;
    }

    .size ul {
        float: left;
        width: 94%;
    }

    .vt .img1 {
        width: 80%;
    }

    .vt .img2 {
        width: 77%;
    }

    #mobile-menu {
        display: block;
        float: right;
        width: 20px;
    }

}

@media(max-width:993px) {
    .member {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 275px);
        column-gap: 23px;
        margin-bottom: 46.7px;
        width: 575px;
        max-width: 100%;
    }

    .intro {
        height: 306px;
    }
}

@media (max-width:991px) {
    .none1 {
        display: none;
    }

    .col-sm-11 {
        margin-bottom: 100px;
    }
}


@media(max-width:785px) {
    .product {
        width: 365px;
        grid-template-columns: repeat(1, 365px);
    }
}

@media(max-width:767px) {
    .none2 {
        display: none;
    }
}

@media(min-width:786px) and (max-width:1190px) {
    .product {
        width: 770px;
        grid-template-columns: repeat(2, 365px);
    }

    .member {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 275px);
        column-gap: 23px;
        margin-bottom: 46.7px;
        width: 575px;
        max-width: 100%;
    }

    .intro img {
        padding: 0;
    }


}

@media(max-width:600px) {
    .member {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 275px);
        column-gap: 23px;
        margin-bottom: 46.7px;
        width: 275px;
        max-width: 100%;
    }

    .bl {
        width: 46%;
    }

    .intro {
        height: 306px;
    }

    .header h1 {
        padding: 45px;
        font-size: 55px;
        line-height: 50px;
    }

    .vt .img1 {
        width: 80%;
    }

    .vt .img2 {
        width: 77%;
    }

    .footer {
        height: 370px;
    }
}

@media (max-width: 395px) {
    .intro {
        height: 608px;
    }
}